---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About SpaceX">
    <header class="h-screen w-sceen mb-8 ">
        <div class="h-screen w-screen ">
            <div 
                class="w-full h-full bg-no-repeat bg-cover bg-center flex justify-center items-center mission-bg mb-auto" 
                >
                <div class=" w-[90%] max-w-[960px] text-center absolute">
                    <p>
                        “You want to wake up in the morning and think the future is going to be great - and that’s what being a spacefaring civilization is all about. It’s about believing in the future and thinking that the future will be better than the past. And I can’t think of anything more exciting than going out there and being among the stars.” -Elon Musk 
                    </p>
                </div>
                <div class="absolute bottom-0 left-0 right-0 flex justify-center mb-6">
                    <a class="uppercase text-2xl font-bold font-serif lg:text-1xl text-blue-950 hover:text-blue-950 hover:mr-1" href="https://www.spacex.com/updates/">More</a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="mx-1 text-blue-950 w-6 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                    </svg>
                </div>
            </div>
        </div>
    </header>
</Layout>

<style>
    .mission-bg{
        background-image: url(../images/mission_feature.jpg);
        background-size: cover;
    }
</style>