--- 
// Definición de una interfaz Props para el componente
interface Props {
	title: string;// Propiedad 'title' de tipo cadena que se espera en el componente
}

// Desestructuración de 'title' de las props proporcionadas por Astro
const { title } = Astro.props;
---

<!-- Creación de nuestro encabezado con una imagen de fondo y un título -->
<header class="h-screen w-full mb-8">
    <div class="h-full sm:h-screen w-full">
        <div 
            class="w-full h-full bg-no-repeat bg-cover bg-center flex justify-center items-center" 
            style="
                background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Star6_25_103023_DSC_0398_desktop_a88f7568e0.jpg);
                background-size: cover;
            ">
            <!-- Título del encabezado -->
            <h2 class= "text-white uppercase text-2xl md:text-4xl lg:text-6xl font-bold text-center my-auto">{title}</h2>
        </div>
    </div>
</header>
