---

---

<div class="w-full mb-0">
  <div class="h-full w-full">
    <!-- Secci贸n 1: Starlink Mission -->
    <div 
      class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center starlink-mission">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <p class="uppercase opacity-100 m-0 text-lg md:text-xl">RECENT LAUNCH</p>
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Starlink Mission</h1>
          <a href="/starlinkMission" class="inline-block mt-4 md:mt-7 w-[156px] px-4 py-3 font-mono font-semibold uppercase border-2 hover:text-black hover:bg-white text-center">
            <span >Learn More</span>
          </a>
      </div>
    </div>
    <!-- Secci贸n 2: Psyche Mission -->
    <div 
      class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center psyche-mission">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <p class="uppercase opacity-100 m-0 text-lg md:text-xl">RECENT LAUNCH</p>
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Psyche Mission</h1>
        <a href="/psycheMission" class="inline-block mt-4 md:mt-7 min-w-28 w-[156px] px-4 py-3 font-mono font-semibold uppercase border-2 hover:text-black hover:bg-white text-center">
          <span class="inline-block w-full h-full">Learn More</span>
        </a>
      </div>
    </div>
    <!-- Secci贸n 3: Dragon and Crew-6 Return to Earth -->
    <div class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center dragon-and-crew-6">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <p class="uppercase opacity-100 m-0 text-lg md:text-xl">RECENT LAUNCH</p>
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Dragon and Crew-6 Return to Earth</h1>
        <a href="/dragonEarth" class="inline-block mt-4 md:mt-7 min-w-28 w-[156px] px-4 py-3 font-mono font-semibold uppercase border-2 hover:text-black hover:bg-white text-center">
          <span class="inline-block w-full h-full">Learn More</span>
        </a>
      </div>
    </div>
    <!-- Secci贸n 4: Starship Flight Test -->
    <div class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center starship-flight-test">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Starship Flight Test</h1>
        <a href="/starshipFlightTest" class="inline-block mt-4 md:mt-7 min-w-28 w-[156px] px-4 py-3 font-mono font-semibold uppercase border-2 hover:text-black hover:bg-white text-center">
          <span class="inline-block w-full h-full">Learn More</span>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
    .starlink-mission{
  background-image: url(../images/Launches_Desktop.jpg);
}
    .psyche-mission{
  background-image: url(../images/Psyche_desktop.jpg);
}
    .dragon-and-crew-6{
  background-image: url(../images/Crew_6_Desktop.jpg);
}
    .starship-flight-test{
  background-image: url(../images/STARSHIP_Testflight_DESKTOP.jpg);
}

</style>