---
---


<div class="h-full mt-16 p-0 block relative w-full text-center">
    <div class="max-w-7xl w-full my-0 mx-auto inline-block text-center relative">
        <div class="block relative my-0 mx-auto text-left w-11/12">
            <!-- Row UPGRADES AHEAD OF STARSHIP’S SECOND FLIGHT TEST -->
            <div class="mx-12">
                <div
                    style="padding-bottom: 67%;"
                    class="block relative w-full h-0">
                    <img src="https://sxcontent9668.azureedge.us/cms-assets/assets/Rocket_Garden_0828232579_456787510e.JPG" alt="">
                </div>
                <div class="w-full text-left">
                    <!-- Imagen -->
                    <div class="text-left w-full mb-10">
                        <p class="uppercase w-full font-bold m-0 mb-5 text-sm lg:text-xl md:text-base text-white">September 8, 2023</p>
                        <h1 class="m-auto font-bold text-lg lg:text-3xl md:text-xl w-full uppercase opacity-100">UPGRADES AHEAD OF STARSHIP’S SECOND FLIGHT TEST</h1>
                    </div>
                    <!-- Contenido -->
                    <div class="block relative w-full">
                        <p class="mb-5">The first flight test of a fully integrated Starship and Super Heavy was a critical step in advancing the capabilities of the most powerful launch system ever developed. Starship’s first flight test provided numerous lessons learned that are directly contributing to several upgrades being made to both the vehicle and ground infrastructure to improve the probability of success on future Starship flights. This rapid iterative development approach has been the basis for all of SpaceX’s major innovative advancements, including Falcon, Dragon, and Starlink. SpaceX has led the investigation efforts following the flight with oversight from the FAA and participation from NASA and the National Transportation and Safety Board.</p>
                        <p class="mb-5">Starship and Super Heavy successfully lifted off for the first time on April 20, 2023 at 8:33 a.m. CT (13:33:09 UTC) from the orbital launch pad at Starbase in Texas. Starship climbed to a maximum altitude of ~39 km (24 mi) over the Gulf of Mexico. During ascent, the vehicle sustained fires from leaking propellant in the aft end of the Super Heavy booster, which eventually severed connection with the vehicle’s primary flight computer. This led to a loss of communications to the majority of booster engines and, ultimately, control of the vehicle. SpaceX has since implemented leak mitigations and improved testing on both engine and booster hardware. As an additional corrective action, SpaceX has significantly expanded Super Heavy’s pre-existing fire suppression system in order to mitigate against future engine bay fires.</p>
                        <p class="mb-5">The Autonomous Flight Safety System (AFSS) automatically issued a destruct command, which fired all detonators as expected, after the vehicle deviated from the expected trajectory, lost altitude and began to tumble. After an unexpected delay following AFSS activation, Starship ultimately broke up 237.474 seconds after engine ignition. SpaceX has enhanced and requalified the AFSS to improve system reliability.</p>
                        <p class="mb-5">SpaceX is also implementing a full suite of system performance upgrades unrelated to any issues observed during the first flight test. For example, SpaceX has built and tested a hot-stage separation system, in which Starship’s second stage engines will ignite to push the ship away from the booster. Additionally, SpaceX has engineered a new electronic Thrust Vector Control (TVC) system for Super Heavy Raptor engines. Using fully electric motors, the new system has fewer potential points of failure and is significantly more energy efficient than traditional hydraulic systems. </p>
                        <p class="mb-5">SpaceX also made significant upgrades to the orbital launch mount and pad system in order to prevent a recurrence of the pad foundation failure observed during the first flight test. These upgrades include significant reinforcements to the pad foundation and the addition of a flame deflector, which SpaceX has successfully tested multiple times. </p>
                        <p class="mb-5">Testing development flight hardware in a flight environment is what enables our teams to quickly learn and execute design changes and hardware upgrades to improve the probability of success in the future. We learned a tremendous amount about the vehicle and ground systems during Starship’s first flight test. Recursive improvement is essential as we work to build a fully reusable launch system capable of carrying satellites, payloads, crew, and cargo to a variety of orbits and Earth, lunar, or Martian landing sites.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- Row SPACEX TO LAUNCH VAST’S COMMERCIAL SPACE STATION AND FIRST HUMAN SPACEFLIGHT MISSION-->
            <div class="mx-12 my-16">
                <div
                    style="padding-bottom: 60%;"
                    class="block relative w-full h-0">
                    <img src="https://sxcontent9668.azureedge.us/cms-assets/assets/Haven1_Hero_5_2600x1400_a23f540f5f.jpg" alt="">
                </div>
                <div class="w-full text-left">
                    <!-- Imagen -->
                    <div class="text-left w-full mb-10">
                        <p class="uppercase w-full font-bold m-0 mb-5 text-sm lg:text-xl md:text-base text-white">May 10, 2023</p>
                        <h1 class="m-auto font-bold text-lg lg:text-3xl md:text-xl w-full uppercase opacity-100">SPACEX TO LAUNCH VAST’S COMMERCIAL SPACE STATION AND FIRST HUMAN SPACEFLIGHT MISSION</h1>
                    </div>
                    <!-- Contenido -->
                    <div class="block relative w-full">
                        <p class="mb-5">Vast announced today that SpaceX will launch what is expected to be the world’s first commercial space station, known as Vast Haven-1, quickly followed by two human spaceflight missions to said space station. Scheduled to launch on a Falcon 9 rocket to low-Earth orbit no earlier than August 2025. Haven-1 will be a fully-functional independent space station and eventually be connected as a module to a larger Vast space station currently in development. </p>
                        <p class="mb-5">Upon launch of Haven-1, Falcon 9 will launch Vast’s first human spaceflight mission to the commercial space station, Vast-1. Dragon and its four-person crew will dock with Haven-1 for up to 30 days while orbiting Earth. Vast also secured an option for an additional human spaceflight mission to the station aboard a Dragon spacecraft.</p>
                        <p class="mb-5">The Vast-1 crew selection process is underway and the crew will be announced at a future date. Once finalized, SpaceX will provide crew training on Falcon 9 and the Dragon spacecraft, emergency preparedness, spacesuit and spacecraft ingress and egress exercises, as well as partial and full mission simulations including docking and undocking for return to Earth.</p>
                        <p class="mb-5">Vast’s long-term goal is to develop a 100-meter-long multi-module spinning artificial gravity space station launched by SpaceX’s Starship transportation system. In support of this, Vast will explore conducting the world’s first spinning artificial gravity experiment on a commercial space station with Haven-1.  </p>
                        <p class="mb-5">This new partnership between Vast and SpaceX will continue to create and accelerate greater accessibility to space and more opportunities for exploration on the road to making humanity multiplanetary.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- Row Starship Selected by NASA to Support Sustained Lunar Exploration-->
            <div class="mx-12 my-16">
                <div
                    style="padding-bottom: 50%;"
                    class="block relative w-full h-0">
                    <img src="https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Desktop_5ebdeb0c6c.webp" alt="">
                </div>
                <div class="w-full text-left">
                    <!-- Imagen -->
                    <div class="text-left w-full mb-10">
                        <p class="uppercase w-full font-bold m-0 mb-5 text-sm lg:text-xl md:text-base text-white">November 15, 2022</p>
                        <h1 class="m-auto font-bold text-lg lg:text-3xl md:text-xl w-full uppercase opacity-100">Starship Selected by NASA to Support Sustained Lunar Exploration</h1>
                    </div>
                    <!-- Contenido -->
                    <div class="block relative w-full">
                        <p class="mb-5">Sustaining long-term human exploration on the Moon will require the safe and affordable transportation of crew and significant amounts of cargo.</p>
                        <p class="mb-5">NASA announced it has modified its contract with SpaceX to further develop the Starship human landing system. Initially selected to develop a lunar lander capable of carrying astronauts between lunar orbit and the surface of the Moon as part of NASA’s Artemis III mission—marking humanity's first return to the Moon since the Apollo program’s final mission in 1972—SpaceX will now support a second human landing demonstration as part of NASA's Artemis IV mission. Additionally, SpaceX will demonstrate Starship’s capability to dock with Gateway, a small space station that will orbit the Moon in efforts to support both lunar and deep-space exploration, accommodate four crew members, and deliver more supplies, equipment, and science payloads that are needed for extensive surface exploration.</p>
                        <p class="mb-5">SpaceX’s Starship spacecraft and Super Heavy rocket represent an integrated and fully reusable launch, propellant delivery, rendezvous, and planetary lander system with robust capabilities and safety features uniquely designed to deliver these essential building blocks. We are honored to be a part of NASA’s Artemis Program to help return humanity to the Moon and usher in a new era of human space exploration.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- Buttom para ir a la pagina original por mas Upgrades -->
            <div class="w-full -mb-5 h-5 flex justify-center ">
                <a class="uppercase text-2xl font-semibold lg:text-2xl text-gray-400 hover:text-white hover:mr-1" href="https://www.spacex.com/updates/">More</a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="mx-1 text-gray-400 w-6 h-9">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                </svg>
            </div>
        </div>
    </div>
</div>