---
//Code
---

<div class="w-full mb-0">
  <div class="h-full w-full">
    <!-- Secci贸n 1: Starlink Mission -->
    <div class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center" 
        style="background-image: url(https://www.spacex.com/static/images/backgrounds-2022/eutelsat-hotbird-13f/post-launch/Launches_Desktop.jpg);">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <p class="uppercase opacity-100 m-0 text-lg md:text-xl">RECENT LAUNCH</p>
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Starlink Mission</h1>
        <button class="mt-4 md:mt-7 min-w-28 px-4 py-3 font-mono font-semibold inline-block uppercase border-2 hover:text-black hover:bg-white">
          <a class="px-4" href="/astro-spacex-clone/starlinkMission">Learn More</a>
        </button>
      </div>
    </div>
    <!-- Secci贸n 2: Psyche Mission -->
    <div class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center" style="background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Psyche_outside39abmound_IMG_8486_desktop_f5072ad69b.jpg)">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <p class="uppercase opacity-100 m-0 text-lg md:text-xl">RECENT LAUNCH</p>
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Psyche Mission</h1>
        <button class="mt-4 md:mt-7 min-w-28 px-4 py-3 font-mono font-semibold inline-block uppercase border-2 hover:text-black hover:bg-white">
          <a class="px-4" href="/astro-spacex-clone/psycheMission">Learn More</a>
        </button>
      </div>
    </div>
    <!-- Secci贸n 3: Dragon and Crew-6 Return to Earth -->
    <div class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center" style="background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Crew_6_Desktop_9857f5c2f0.jpg)">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <p class="uppercase opacity-100 m-0 text-lg md:text-xl">RECENT LAUNCH</p>
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Dragon and Crew-6 Return to Earth</h1>
        <button class="mt-4 md:mt-7 min-w-28 px-4 py-3 font-mono font-semibold inline-block uppercase border-2 hover:text-black hover:bg-white">
          <a class="px-4" href="/astro-spacex-clone/dragonEarth">Learn More</a>
        </button>
      </div>
    </div>
    <!-- Secci贸n 4: Starship Flight Test -->
    <div class="w-full h-screen bg-no-repeat bg-cover bg-center flex justify-start items-center" style="background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg)">
      <div class="text-center md:text-left w-full max-w-lg ml-0 md:ml-12 mt-4 md:mt-0">
        <h1 class="m-auto font-bold text-3xl md:text-5xl uppercase opacity-100">Starship Flight Test</h1>
        <button class="mt-4 md:mt-7 min-w-28 px-4 py-3 font-mono font-semibold inline-block uppercase border-2 hover:text-black hover:bg-white">
          <a class="px-4" href="/astro-spacex-clone/starshipFlightTest">Learn More</a>
        </button>
      </div>
    </div>
  </div>
</div>

